:root {

}

body {
  margin: 0
  width: 100vw;
  height: 100vh;
  top: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::selection {
  background: lightgrey;
}

i {
  font-style: italic;
}

/*MENU*/

.menu {
  position: fixed;
  top: 20px;
  width: 100vw;
  height: 0px;
  display: grid;
  z-index: 100;
  grid-template-columns: 16.67vw 16.67vw 16.67vw 16.67vw 16.67vw 16.66vw;
  font-size: 12px;
}

.menu .grid-item {
  height: 0;
  line-height: 14px;
}

.menu a {
  font-size: 1.6vw;
  text-decoration: none;
  color: black;
}

.menu a:hover {
  color: rgb(29, 0, 218);
  text-decoration: underline;
}

.menu .active{
  color: rgb(29, 0, 218);
  text-decoration: underline;
}


#small-heart {
  position: fixed;
  z-index: 150;
}
  #small-heart #desktop-heart {
    width: 8vw;
    top: 20px;
    position: absolute;
    left: 46vw;
  }

  #small-heart #mobile-heart {
    display: none;
    width: 16vw;
    top: 20px;
    position: absolute;
    left: 42vw;
  }

#mobile-menu-parent {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  visibility: hidden;
  position: fixed;
}
  #mobile-menu-parent img {
    width: 100vw;
  }
#mobile-menu {
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  position: absolute;
  margin-top: 22px;
}

  #mobile-menu a {
    display: block;
    font-size: 20pt;
    text-decoration: none;
    color: black;
    width: 100vw;
    line-height: 3.5;
    text-shadow: 0 0 10px blue;
  }

#mobile-menu-parent-startpage #mobile-menu-parent {
  visibility: hidden;
}


/*STARTPAGE*/

#startpage-container {
  height: 100vh;
  width: 100vw;
}
  
  #startpage-container .menu {
    margin: -20px 0 0 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow: 0 0 10px blue;
  }

#ornament {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

  #ornament img {
    width: 80vw;
  }

/*SKY-BACKGROUND*/
#background-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.sky-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  overflow: hidden;
}

.sky-background img{
  width: 100vw;
}

.sky-background-medium {
  display: block;
}

.sky-background-small, .sky-background-big {
  display: none;
}



/*SLIDE-SHOW*/

#slideshow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#slideshow img {
  position: absolute;
  left: 50vw;
  top: 5em;
  transform: translate(-50%, 0);
  max-width: calc(100vw - 10em);
  max-height: 75vh;
  cursor: crosshair;
  box-shadow: 0px 0px 100px #cbff00;
  border-radius: 5px;
}

#slideshow a  {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  height: 22vh;
  text-align: center;
  line-height: 20vh;
  cursor: pointer;
  color: black;
}

/*...*/

.filter {
  filter: blur(5px);
  transition: 0.5s;
  width: 100vw;
  height: 100vh;
}

/*GRID*/
.grid-container {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 16.667vw 16.667vw 16.667vw 16.667vw 16.667vw 16.667vw;
  grid-template-rows: 16.667vw  16.667vw 16.667vw 16.667vw 16.667vw 16.667vw 16.667vw 16.667vw 16.667vw 16.667vw 16.667vw 16.667vw;
  align-items: center;
  /*scroll-snap-type: y mandatory;*/
}

.grid-item {
  text-align: center;
  font-size: 37px;
  object-fit: cover;
  /*scroll-snap-align: start;*/
}

.grid-item img {
  width: 16.667vw;
  height: 16.667vw;
  object-fit: cover;
  box-shadow: 0px 0px 20px #cbff00;
  cursor: pointer;
}

/*IMAGE-DESCRIPTION*/

.empty {
  margin:10px; /*Detta är marginal för texten*/
}

.image-description-left, .image-description-right {
  height: 100%;
  width: 100%;
  transition: 0.6s;
  font-size: 14px;
  line-height: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.image-description-left {
  padding: 40% 100% 40% 0;
}
.image-description-right {
  padding: 40% 0 40% 110%;
  float: right;
}

.image-description-left:hover, .image-description-right:hover{
  opacity: 1;
}

.mobile-text {
  display: none;
}

/*TEXT STYLE*/
.title {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.material, .year {
  font-style: italic;
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  line-height: 1.2;
}

.year {
  font-style: normal;
}

.grid-container a{
  color: black;
  font-size: 12px;
}

/*TYPOGRAPHY*/
h1 {
  font-size: 23px;
  font-style: italic;
  font-weight: 400;
  color: green;
}

p {
  font-size: 50px;
}

/*ABOUT*/

#text-container {
  width: 66vw;
  position: absolute;
  top: 17.5vw;
  text-align: center;
  margin-left:17vw;
  text-shadow: 0 0 10px blue;
}


#text-container h2 {
  font-size: 27px;
  margin: 30px 0 15px 0;
}

#text-container p {
  font-size: 22px;
  line-height: 1.2;
}

#text-container a {
  color: black;
}

#text-container a:hover {
  /*color: blue;*/
  background:#dfff5e;
}

#text-container #footer-text{
  font-size: 11pt;
  margin:20px 0 60px 0;
}

#objects-copyright p, #jewelry-copyright p {
  font-size: 11pt;
  text-align: center;
}

#objects-copyright, #jewelry-copyright {
  position: absolute;
  width: 100vw;
  height: 40px;
  display: block;
}

  #jewelry-copyright {
    top:calc(16.667vw*12);
  }

  #objects-copyright {
    top:calc(16.667vw*14);
  }

#text-container img {
  /*width: 50%;*/
}

#ornament-1 {
  width: 50%;
  margin-top: 3%;
  margin-bottom: -9%;
}

#ornament-2 {
  width: 21%;
  margin-top: 4%;
  margin-bottom: 4%;
}


@media (min-aspect-ratio: 16/9) {
}
@media (max-aspect-ratio: 16/9) {

}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) { /*mobile*/

  .sky-background-small {
    display: block;
  }

  .grid-container {
    left: 10vw;
    width: 75vw;
    grid-template-columns: 80vw;
    grid-template-rows: auto  ;
    grid-row-gap:50px;
    margin-top: 80px;
  }
  .grid-item img {
    width: 80vw;
    height: 80vw;
  }

  .mobile-text {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    margin-top: -40px

  }

  .image-description-left, .image-description-right, .empty, .sky-background-medium, #copyright, .menu, #desktop-heart, #startpage-container {
    display: none;
  }
  
  #small-heart #mobile-heart {
    display: block;
  }

  #mobile-menu-parent-startpage #mobile-menu-parent {
  visibility: visible;
  }

  #text-container {
  top: 27.5vw;
  }

  #slideshow img {
  max-width: calc(100vw - 2em);
  max-height: 90vh;
}


}

@media only screen and (min-width: 1500px) { /*stor desktop*/

  .sky-background-medium {
    display: none;
  }
  .sky-background-big {
    display: block;
  }
  .grid-container {
    left: 12.5vw;
    width: 75vw;
    grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
    grid-template-rows: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
  }
  .grid-item img {
    width: 12.5vw;
    height: 12.5vw;
  }

  .menu {
    left: 12.5vw;
    width: 75vw;
    grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
    grid-template-rows: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
  }

  .menu a {
    font-size: 1vw;
  }


  #text-container {
    width: 50vw;
    top: 16.667vw;
    margin-left:25vw;
  }

  #jewelry-copyright {
  top:calc(12.5vw*12);
  }
  #objects-copyright {
  top:calc(12.5vw*14);
  }

  #ornament img {
    width: 65vw;
  }

}

